{% extends "layout.html" %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="card">
        <div class="card-header text-center bg-primary text-white">
            <h3>Customer Churn Prediction</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}

                        <div class="form-group row">
                            <label for="tenure" class="col-sm-4 col-form-label text-right">{{ form.tenure.label }}</label>
                            <div class="col-sm-8">
                                {{ form.tenure(class="form-control", id="tenure") }}
                                {% if form.tenure.errors %}
                                    <div class="alert alert-danger mt-2">
                                        {% for error in form.tenure.errors %}
                                            {{ error }}<br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-right">{{ form.is_monthly_contract.label }}</label>
                            <div class="col-sm-8">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    {% for subfield in form.is_monthly_contract %}
                                        <label class="btn btn-outline-primary">
                                            {{ subfield(class="btn-check", autocomplete="off") }} {{ subfield.label.text }}
                                        </label>
                                    {% endfor %}
                                </div>
                                {% if form.is_monthly_contract.errors %}
                                    <div class="alert alert-danger mt-2">
                                        {% for error in form.is_monthly_contract.errors %}
                                            {{ error }}<br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-right">{{ form.availed_online_security.label }}</label>
                            <div class="col-sm-8">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    {% for subfield in form.availed_online_security %}
                                        <label class="btn btn-outline-primary">
                                            {{ subfield(class="btn-check", autocomplete="off") }} {{ subfield.label.text }}
                                        </label>
                                    {% endfor %}
                                </div>
                                {% if form.availed_online_security.errors %}
                                    <div class="alert alert-danger mt-2">
                                        {% for error in form.availed_online_security.errors %}
                                            {{ error }}<br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-right">{{ form.availed_tech_support.label }}</label>
                            <div class="col-sm-8">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    {% for subfield in form.availed_tech_support %}
                                        <label class="btn btn-outline-primary">
                                            {{ subfield(class="btn-check", autocomplete="off") }} {{ subfield.label.text }}
                                        </label>
                                    {% endfor %}
                                </div>
                                {% if form.availed_tech_support.errors %}
                                    <div class="alert alert-danger mt-2">
                                        {% for error in form.availed_tech_support.errors %}
                                            {{ error }}<br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-right">{{ form.availed_fiber_optic_internet_service.label }}</label>
                            <div class="col-sm-8">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    {% for subfield in form.availed_fiber_optic_internet_service %}
                                        <label class="btn btn-outline-primary">
                                            {{ subfield(class="btn-check", autocomplete="off") }} {{ subfield.label.text }}
                                        </label>
                                    {% endfor %}
                                </div>
                                {% if form.availed_fiber_optic_internet_service.errors %}
                                    <div class="alert alert-danger mt-2">
                                        {% for error in form.availed_fiber_optic_internet_service.errors %}
                                            {{ error }}<br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-right">{{ form.makes_electronic_check_payment.label }}</label>
                            <div class="col-sm-8">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    {% for subfield in form.makes_electronic_check_payment %}
                                        <label class="btn btn-outline-primary">
                                            {{ subfield(class="btn-check", autocomplete="off") }} {{ subfield.label.text }}
                                        </label>
                                    {% endfor %}
                                </div>
                                {% if form.makes_electronic_check_payment.errors %}
                                    <div class="alert alert-danger mt-2">
                                        {% for error in form.makes_electronic_check_payment.errors %}
                                            {{ error }}<br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    {% if predictions %}
                        <div class="card">
                            <div class="card-header bg-info text-white">
                                <h4 class="text-center">Predictions</h4>
                            </div>
                            <div class="card-body" style="max-height: 400px; overflow-y: auto;">
                                {% for model_name, prediction in predictions.items() %}
                                    <div class="alert alert-info">
                                        <strong>{{ model_name }}:</strong> {{ prediction }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="text-center mt-3">
                <p>Redirect to Homepage? <a href="{{ url_for('home') }}" class="custom-link">Home</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

